# --- Display Defaults ---
CONFIG_DISPLAY_PIN_CLK=18
CONFIG_DISPLAY_PIN_MOSI=23
CONFIG_DISPLAY_PIN_CS=5
CONFIG_DISPLAY_PIN_DC=16
CONFIG_DISPLAY_PIN_RST=17

# --- Rotary Encoder Defaults ---
CONFIG_ROTARY_PIN_CLK=22
CONFIG_ROTARY_PIN_DT=19

# --- Buttons Defaults ---
CONFIG_BUTTON_ADC_PIN=4
CONFIG_BUTTON_DEBOUNCE_MS=50
